<div class="container" style="padding-top: 3rem;">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12">
                    <img src="../../assets/resources/img/logotam1.jpg">
                </div>
                <div class="col-md-12">
                    <span style="text-align: center;"></span>
                </div>
                <br>
                <div class="col-md-12">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><fa-icon
                        [icon]="iconfaFacebookF"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Nosotros</h4>
            <ul>
                <li style="list-style: none;">Quienes Somos</li>
                <li style="list-style: none;">Articulos Innova Viajes</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h4>Servicios</h4>
            <ul>
                <li style="list-style: none;">Verifica tu compra</li>
                <li style="list-style: none;">Consulta tu cotizacion</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="container" style="padding-top: 3rem;">
            <div class="row">
                <div class="col-lg-12">
                    <span style="font-size: 10pt;">Copyright © Innova Viajes </span>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--div class="container">
		<div class="row mb-5">
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">
						<fa-icon [icon]="['fas', 'home']"></fa-icon> Menu Familiar</h2>
					<p>Contactenos por nuestras redes sociales</p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
						<li class="ftco-animate">
							<a href="#" >
								<span style="font-size: 1rem;">
									<fa-icon [icon]="['fab', 'twitter']"></fa-icon>
								</span>
							</a>
						</li>
						<li class="ftco-animate">
							<a href="#">
								<span style="font-size: 1rem;">
									<fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4 ml-md-5">
					<h2 class="ftco-heading-2">Menu</h2>
					<ul class="list-unstyled">
						<li>
							<a href="#" class="py-2 d-block" routerLink="/contactenos">Contactenos</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Contactenos</h2>
					<div class="block-23 mb-3">
						<ul>
							<li class="ftco-animate">
								<span class="icon">
									<fa-icon [icon]="['fas', 'phone-alt']"></fa-icon>
								</span>
								<a href="#">+51 997 895 622</a>
							</li>
							<li class="ftco-animate">
								<span class="icon">
									<fa-icon [icon]="['fas', 'envelope']"></fa-icon>
								</span>
								<a href="#">info@menufamiliar.com.pe</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div-->