<div class="container">
    <h4>Teléfono para Contactarte</h4>
    <hr>
    <form>
        <div class="row g-3">
            <div class="col-md-6">
                <label for="idSelCoPais" class="form-label" style="font-weight: bold;">Codigo Pais</label>
                <select class="form-select" aria-label="Default select example" id="idSelCoPais">
                    <option value="0">Seleccione</option>
                    <option value="1">(51) Peru</option>
                    <option value="2">(54) Chile</option>
                    <option value="3">(61) Argentina</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="idTxtNuTelefono" class="form-label" style="font-weight: bold;">Número Teléfono</label>
                <input type="text" class="form-control" id="idTxtNuTelefono" placeholder="Número Teléfono">
            </div>
            <div class="col-md-6">
                <label for="idTxtSegundoApellido" class="form-label" style="font-weight: bold;">Segundo Apellido</label>
                <input type="text" class="form-control" id="idTxtSegundoApellido" placeholder="Segundo Apellido">
            </div>
            <div class="col-md-3">
                <label for="idSelPaisResidencia" class="form-label" style="font-weight: bold;">Pais Residencia</label>
                <select class="form-select" aria-label="Default select example" id="idSelPaisResidencia">
                    <option value="0">Seleccione</option>
                    <option value="1">Peru</option>
                    <option value="2">Chile</option>
                    <option value="3">Argentina</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="idTxtFechaNacimiento" class="form-label" style="font-weight: bold;">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="idTxtFechaNacimiento" placeholder="Fecha Nacimiento">
            </div>
            <div class="col-md-3">
                <label for="idSelTipoDocumento" class="form-label" style="font-weight: bold;">Tipo Documento</label>
                <select class="form-select" aria-label="Default select example" id="idSelTipoDocumento">
                    <option value="0">Seleccione</option>
                    <option value="1">DNI</option>
                    <option value="2">Carné Extranjeria</option>
                    <option value="3">Pasaporte</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="idTxtNumDocumento" class="form-label" style="font-weight: bold;">Número Documento</label>
                <input type="text" class="form-control" id="idTxtNumDocumento" placeholder="Número Documento">
            </div>
            <div class="col-md-3">
                <label for="idSelTipoSexo" class="form-label" style="font-weight: bold;">Sexo</label>
                <select class="form-select" aria-label="Default select example" id="idSelTipoSexo">
                    <option value="0">Seleccione</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
        </div>
    </form>
</div>