<div class="container">
    <h4>Teléfono para Contactarte</h4>
    <hr>
        <div class="row g-3">
            <div class="col-md-3">
                <label for="idSelCoPais" class="form-label" style="font-weight: bold;">Codigo Pais</label>
                <select class="form-select" aria-label="Default select example" id="idSelCoPais">
                    <option value="0">Seleccione</option>
                    <option value="1">(51) Peru</option>
                    <option value="2">(54) Chile</option>
                    <option value="3">(61) Argentina</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="idTxtNuTelefono" class="form-label" style="font-weight: bold;">Número Teléfono</label>
                <input type="text" class="form-control" id="idTxtNuTelefono" placeholder="Número Teléfono" maxlength="20">
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
</div>