<div class="container">
    <div class="row" style="padding-top: 1rem;">
        <div class="col-md-3">
            <label for="idSelTipoDocu" class="form-label" style="font-weight: bold;">Tipo Documento</label>
            <select class="form-select" aria-label="Tipo de Documento" id="idSelTipoDocu">
                <option value="0">Seleccione</option>
                <option value="1">DOI</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="idNumDocu" class="form-label" style="font-weight: bold;">Número Documento</label>
            <input type="text" class="form-control" id="idNumDocu" placeholder="Numero Documento" maxlength="20">
        </div>
        <div class="col-md-6">
            <label for="idNompagante" class="form-label" style="font-weight: bold;">Nombre Cliente</label>
            <input type="text" class="form-control" id="idNompagante" placeholder="Nombre Cliente" maxlength="200">
        </div>
    </div>
</div>