.error-message {
  color: red;
  font-size: 8pt;
  margin-top: 5px;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
  border-color: red;
  /* Make the border red */
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  /* Optional: add a subtle red glow */
}

select.ng-invalid.ng-touched,
/* ¡Añade esta línea! */
select.ng-invalid.ng-dirty

/* ¡Y esta! */
  {
  border-color: red;
  /* Pone el borde de color rojo */
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  /* Opcional: añade un leve resplandor rojo */
}

.required-asterisk {
  color: red;
  font-weight: bold;
  margin-left: 2px;
  font-size: 1em;
}