<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: rgb(99, 38, 38);">Pago</h4>
            <hr style="color: red;">
        </div>
    </div>
    <div class="row g-3">
        <app-datostarjeta></app-datostarjeta>
    </div>
    <div class="row" style="padding-top: 1rem;">
        <div class="col-md-3">
            <label for="idSelFactBole" class="form-label" style="font-weight: bold;">Tipo Comprobante</label>
            <select class="form-select" aria-label="Default select example" id="idSelFactBole">
                <option value="0">Seleccione</option>
                <option value="1">Boleta</option>
                <option value="2">Factura</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="idSelTitularComprobante" class="form-label" style="font-weight: bold;">A nombre de</label>
            <select class="form-select" aria-label="Default select example" id="idSelTitularComprobante">
                <option value="0">Seleccione</option>
                <option value="1">Adulto 1</option>
                <option value="2">Adulto 2</option>
                <option value="3">Otro</option>
            </select>
        </div>
        <div class="col-md-6">
            &nbsp;
        </div>
    </div>
</div>